.coolerCard{
    margin: 0.5rem;
    align-items: center;
    width: 18rem;
    min-height: 15rem;
    border-width: 3px;
    color: black;
    /* background-color: #003; */
    border-radius: 40px;
    background-color: #93dd9b;

}
.coolerCardTitle{
    font-size: 2rem;
    height: 7rem;
    text-align: center;
}

.coolerCardBody{
    padding: 0.7rem 0 0.7rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.coolerCardBtn{
    width: 7rem;
    color: black;
    background-color: rgb(254, 240, 255);
    border: 0;
    margin: 0.2rem;
    /* margin-right: 2vh; */
}
