.cooler-det{
    min-height: 95vh;
    background-color: rgb(235,235,255);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    
}
.coolerDetails{
    display: flex;
    align-items: center;
    flex-direction: column; 
}
.cooler-page-para{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1.3rem;
}
.cooler-page-para-val{
    margin-left: 1rem;
    /* background-color: #003; */
    color: white;
    border-radius: 2px;
    font-size:1.3rem;
}
.tile{
    background-color:rgba(0,0,59,1);
    padding: 5rem;
    margin: 5rem;
    box-shadow:0.3rem 0.3rem 0.3rem 0.3rem grey;
    
}