
.cardBody{
    padding: 2rem 0 2rem 0;
    background-color: #004; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* position: absolute; */
    /* width: 207.1vh; */
}


.dashboardControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboardControls .dashBtn {
    color: black;
    background-color: rgb(254, 240, 255);
    border: 0;
    margin: 0.5rem;
    min-width: 11rem;
}
.editPop{
    padding-top: 24px;
   background-color : #ccffff;
}
.dashTextInput{
    background-color: #e6ffff;
    color: rgb(12, 1, 1);
    border: 1px solid black;
}
.modalBody{
    padding-left: 40px;
}
.modalBtn{
    margin: 0.5rem;
    color: black;
    background-color: #EEF;
    border: none;
}
.modalSubBtn{
    padding-left: 186px;
    margin-top: 24px;
    margin-bottom: 26px;
    background-color: #ccffff;
    color: rgb(4, 87, 119);
    border-radius : 4px;
}
.modalSubmitBtn{
    border-radius: 59px;
    padding: 7px 23px 9px 18px;
}
.modalBtn1{
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(1, 1, 66);
}

.selectOpt{
    padding: 9px 180px 6px 138px;
    background-color: #ccffff;
}

/* #aboutSection{
    bottom: 0px;
    background-color: rgb(10, 8, 44);
    color: white;
} */


#dash-report{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid green; */
    background-color: white;
    color: black;
    min-height: 65vh;
}
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

#dash-report h3{
    display: inline;
    margin-left: 4rem;
    font-family: 'Dela Gothic One', cursive;
    font-size: 3rem;
}
.report-input{
    margin-top: 6rem;
    margin-left: -17rem;
    display: inline-flex;
    flex-wrap: wrap;
    border:1px solid grey;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.report-email{
    margin-top: 2rem;
}
.report-text{
    margin-top: 2rem;
    margin-left: -17rem;
    color:black;
    display: inline-flex;
    flex-wrap: wrap;
    border:1px solid grey;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.report-btn{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: black;
    margin-top: 1rem;
    margin-left: -15rem;
    border-radius: 2px;
    border: none;
}


.dash-map iframe{
    display: flex;
    /* border: 2px solid green; */
    flex-wrap: wrap;
    width: 100vw;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer > h1{
    width: 100vw;
    text-align: center;
    padding-top: 2rem;
}

.footer, .contact {
    /* min-width: 50vw; */
    /* padding: 2em; */
    margin: 1em;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.mails, .github{
    padding: 1em;
    flex-direction: column;
    /* border: 2px solid yellow; */
}

.github > h6, .mails > h6{
    margin-left: 4em;
}
.github a, .mails a{
    color: black;
}
.github a:hover{
    color: rgb(94, 93, 93);
}

.git-list,.dash-mail-id{
    list-style: none;
    /* margin: 20px 0 0 0; */
    /* flex-direction: column; */
    /* border: 2px solid blue; */
}
.footer .copyright{
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    padding: 0 1em 0 1em;
    /* border: 2px solid green; */
}
