/* .campus{
    /* background-image: url(../assets/img/campus.jpg); */
/* }  */
/* .header{
    border: 2px solid red;
    height: 500px;
    background-color: white;
} */
.cardBody{
    padding-top: 150px;
    padding-bottom: 127px;
    background-color: #004; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.editPop{
    padding-top: 24px;
   background-color : #ccffff;
}
.textInput{
    background-color: #e6ffff;
    color: rgb(12, 1, 1);
    border: 1px solid black;
}
.modalBody{
    padding-left: 40px;
}
.modalBtn{
    margin: 0.5rem;
    color: black;
    background-color: #EEF;
    border: none;
}
.modalSubBtn{
    padding-left: 186px;
    margin-top: 24px;
    margin-bottom: 26px;
    background-color: #ccffff;
    color: rgb(4, 87, 119);
    border-radius : 4px;
}
.modalSubmitBtn{
    border-radius: 59px;
    padding: 7px 23px 9px 18px;
}
.modalBtn1{
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(1, 1, 66);
}

.selectOpt{
    padding: 9px 180px 6px 138px;
    background-color: #ccffff;
}
#dashFooterId{
    /* border: 2px solid red; */
    height: 200px;
}
.dashFooter{
    height: 150px;

}
.dashCopyright{
    height: 20px;
    /* border: 2px solid green;  */
    display: flex;
    /* margin-left: 450px; */
    /* padding-left: 2px; */
    flex-flow: row wrap;
    justify-content: center;
}

.dashboardControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboardControls .btn {
    color: black;
    background-color: #EEF;
    border: 0;
    margin: 0.5rem;
    min-width: 11rem;
}