/* .campus{
    /* background-image: url(../assets/img/campus.jpg); */
/* }  */
/* .header{
    border: 2px solid red;
    height: 500px;
    background-color: white;
} */
.cardBody{
    padding-top: 150px;
    padding-bottom: 127px;
    background-color: #004; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* position: absolute; */
    width: 207.1vh;
}


.dashboardControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboardControls .dashBtn {
    color: black;
    background-color: #007bff;
    border: 0;
    margin: 0.5rem;
    min-width: 11rem;
}
.editPop{
    padding-top: 24px;
   background-color : #ccffff;
}
.dashTextInput{
    background-color: #e6ffff;
    color: rgb(12, 1, 1);
    border: 1px solid black;
}
.modalBody{
    padding-left: 40px;
}
.modalBtn{
    margin: 0.5rem;
    color: black;
    background-color: #EEF;
    border: none;
}
.modalSubBtn{
    padding-left: 186px;
    margin-top: 24px;
    margin-bottom: 26px;
    background-color: #ccffff;
    color: rgb(4, 87, 119);
    border-radius : 4px;
}
.modalSubmitBtn{
    border-radius: 59px;
    padding: 7px 23px 9px 18px;
}
.modalBtn1{
    border: none;
    font-size: 1rem;
    color: white;
    background-color: rgb(1, 1, 66);
}

.selectOpt{
    padding: 9px 180px 6px 138px;
    background-color: #ccffff;
}

#dashFooterId{
    /* position: fixed; */
    bottom: 0px;
    width: 207.1vh;
    /* background-color: white; */
    background-color: black;
    color: white;
    /* position: absolute; */
}

.report{
    background-color: rgb(16, 176, 250);
    min-height: 25vh;
    min-width: 95vh;
}
.report h6{
    display: flex;
    justify-content: center;
}
.dash-report{
    display: flex;
    flex-basis: 50%;
    margin: 6vh 4vh 3vh 40vh;
 
    /* padding: 2em 2em 2em 2em; */
}
.dash-report-input{
    /* padding: 2em 2em 2em 2em; */
    margin-right: 8vh;
    max-height: 5vh;
    border-radius: 10px;
}
.dash-report-textarea{
    margin-right: 3vh;
    max-height: 15vh;
    border-radius: 8px;
}
.dash-report-btn{
    max-height: 4vh;
    padding: 1vh 3vh 4vh 3vh;
    margin-left: 5vh;
}
.dashAboutUs{
    display: flex;
   
}
.dashAboutUs .dash-box{
    flex-basis: 70%;
    padding: 10px 50px;
    /* border: 2px solid red; */
}
.dash-map{
    margin-top: 1vh;
    margin-left: 1vh;
    /* border: 2px solid green; */
}
.dash-box h6{
    font-size: 1.125 rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 40px;
}
.dash-box .git-list{
    list-style: none;
    margin: 20px 0 0 0;
}

.dash-box .dash-mail-id{
    list-style: none;
    margin: 20px 0 0 0;
}
.dash-box .dash-footer-content{
    margin: 20px 0 0 0 ;
}
 
.dash-copyright{
    display: flex;
    bottom: 0px;
    /* margin: auto;  */
    /* text-align: center; */
    margin-left: 48vh;
    /* bottom: 0; */
} 
