@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
.profBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid blue; */
    background-color: rgb(235,235,255);
    padding: 6rem 0 7rem 0;
}

.profile-main-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    color: white;
    background-color:  rgba(0,0,59,1);
    padding-top: 3em;
    box-shadow:0.3rem 0.3rem 0.3rem 0.3rem #888888;
}

.prof-user-details{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    padding: 2rem 5rem 5rem 6rem;
}
.profBox > h1{
    font-size: 2rem;
}
.alert-notification{
    max-width: 25rem;
    position: absolute;
    z-index: 20;
}
.prof-para{
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
}
.prof-para-val{
    color: white;
    margin-top: 1rem;
    border-radius:3px;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
}
.prof-btn-controls {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.prof-btn-controls .prof-btn{
    margin: 0.5rem;
    min-width: 11rem;
    color: black;
    background-color: rgb(254, 240, 255);
}