@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
.profBox{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: 2px solid blue; */
    background-color: #004;
    padding: 2rem 0 7rem 0;
}
.profBox > h1,h4{
    color: white;
    /* font-family: 'Dela Gothic One', cursive; */
}
.profBox > h1{
    font-size: 2rem;
}
.alert-notification{
    max-width: 25rem;
    position: absolute;
    z-index: 20;
}
.prof-para{
    display: flex;
    align-items: center;
    color: rgb(211, 208, 208);
    /* flex-direction: column; */
    /* border: 2px solid red ; */
}
.prof-para-val{
    color: rgb(156, 154, 154);
    margin-top: 1rem;
    /* margin-left: 1rem; */
    /* border-bottom: 2px solid green; */
    background-color:#003;
    border-radius:3px
}
.prof-btn-controls {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.prof-btn-controls .prof-btn{
    margin: 0.5rem;
    min-width: 11rem;
    color: black;
    background-color: rgb(254, 240, 255);
}