@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.dash-user-modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.dash-user-modal-title{
    /* padding-left: 9rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.7rem;
    /* color: lightblue; */
    color: #000062;

}
.dash-user-modalModal{
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
}
.dash-user-modal-text{
    /* display: flex;
    flex-wrap: wrap; */
    padding-left: 5em;
}
.dash-user-modalform{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.dash-user-modal-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dash-user-modal-para{
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(170, 231, 252);
    border-radius: 2em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em lavender;
    
}
.dash-user-modalText-input{
    padding-top: 0.1rem;
}
dash-user-modal-div > input{
    /* padding: 1em 1em 1em 1em; */
    margin-left: 1em;
    border: none;
    /* border-color: lightblue; */
}
.dash-user-modal-btn{
    padding: 0.3em 3em 0.3em 3em;
    border-radius: 2em;
    font-size: 1.3em;
    /* background-color: khaki; */
    background-color:#000062;
    margin-left: 6em;
    margin-top: 0.2rem;
    border: none;
    color: white;
    /* padding: 0.11rem; */
}